.earthlapse-modes-container {
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.2s;
}


body.earthlapse-modes-default .player,
body.earthlapse-modes-menu .player,
body.earthlapse-modes-story .player {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

body.earthlapse-modes-default .earthlapse-modes-default-container,
body.earthlapse-modes-menu .earthlapse-modes-menu-container,
body.earthlapse-modes-story .earthlapse-modes-story-container,
body.earthlapse-modes-explore .earthlapse-modes-explore-container {
  visibility: visible;
  opacity: 1;
}


.overlay-content {
    position: relative;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, 0.5);
}

.overlay-content h1{
    padding: 16px;
    text-decoration: none;
    font-size: 96px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}